registry = "https://registry.npmmirror.com"

# 依赖提升到根模块目录
public-hoist-pattern[]=prettier-plugin-tailwindcss

# 自动安装缺失的依赖
auto-install-peers = true

# 优化依赖树结构，尝试在依赖树中复用同一版本
dedupe-peer-dependents=true